.bg-image {
    flex: 2;
    background: url("/imagelogin.jpg");
    background-position: center;
    background-size: cover;
    transition: 0.5s ease-in-out;
    min-height: calc(100% - 180px);
    margin-bottom: 200px;
    > div {
        background-color: #46345f79;
        backdrop-filter: blur(19px);
        height: fit-content;
        transition: 0.5s ease-in-out;
    }
}
