.bg-blur {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 400px;
    background: url("/bg.jpg") top/cover no-repeat;
    filter: grayscale(1);
}
.bg-alpha {
    z-index: 0;
    top: 0;
    left: 0;
    height: 420px;
    width: 100%;
    background: rgb(23, 15, 35);
    background: linear-gradient(
        180deg,
        rgba(23, 15, 35, 1) 8%,
        rgba(23, 15, 35, 0.788) 43%,
        rgba(23, 15, 35, 1) 96%
    );
}
.bg-singerdetail {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: url("/bg.jpg") top/cover no-repeat;
    filter: grayscale(1);
    border-radius: 20px;
    z-index: 0;
}
.bg-alphasingerdetail {
    z-index: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #672b9bab;
    backdrop-filter: blur(8px);
    border-radius: 20px;
}
