.nav {
    width: 70px;
    height: 100vh;
    background-color: #2a213a;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: width 0.3s;
    position: block;
    overflow: hidden;
    transition: 0.3s;
    .nav-container {
        padding: 5px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        .nav-active {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            color: #2c3e486d;
            font-weight: 700;
            .nav-active_right {
                display: block;
            }
            .nav-active_left {
                display: none;
            }
        }
        .nav-logo {
            width: 60px;
            height: 60px;
            overflow: hidden;
            cursor: pointer;
            .nav-logo_small {
                max-width: unset;
                width: 185.86px;
                height: 100%;
                border-radius: 10px;
                content: url("/sgm.png");
                filter: drop-shadow(0 0 0.45rem #ffe2e860);
            }
            .nav-logo_full {
                padding: 1px;
                border-radius: 10px;
                width: 185.86px;
                display: none;
            }
        }
        > nav {
            padding-top: 20px;
            > ul {
                list-style: none;
                padding: 5px;
                li {
                    height: 50px;
                    width: 100%;
                    overflow: hidden;
                    display: flex;
                    cursor: pointer;
                    margin-top: 5px;
                    transition: width 0.3s;
                    color: #ffffffb6;
                    .nav-icon {
                        height: 100%;
                        width: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 22px;
                        border-radius: 10px;
                    }
                    .nav-title {
                        visibility: hidden;
                        display: flex;
                        width: calc(100% - 50px);
                        align-items: center;
                        font-size: 16px;
                        font-weight: 600;
                        overflow: hidden;
                        opacity: 0;
                    }
                    &:hover {
                        color: #ffffff;
                    }
                }
                .active {
                    background-color: #2c3e48;
                    border-left: 5px solid #9b4de0;
                    background-color: #393243;
                }
            }
        }
        .vip {
            width: 100%;
            padding: 5px;
            .vip-main {
                background-image: linear-gradient(
                    117deg,
                    #5a4be7,
                    #c86dd7 102%
                );
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                > p {
                    display: none;
                }
                > span {
                    gap: 4px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 30px;
                    border-radius: 20px;
                    background-color: #ffdb00;
                    color: #393243;
                    > span {
                        display: none;
                    }
                }
            }
        }
        .vip-noti {
            > span {
                display: none;
            }
        }
        .playlist {
            .nav-title {
                color: #ffffffb6;
                visibility: hidden;
                display: flex;
                width: calc(100% - 50px);
                align-items: center;
                font-size: 16px;
                font-weight: 600;
                overflow: hidden;
                opacity: 0;
            }
            > div {
                &:hover {
                    * {
                        color: #ffffff;
                    }
                }
            }
            .playlist__item {
                .title {
                    flex: 1;
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    height: 0;
                    overflow: hidden;
                    visibility: hidden;
                    opacity: 0;
                    span {
                        flex: 1;
                    }
                }
            }
        }
    }
}

.nav--active {
    width: 220px;
    .nav-container {
        .nav-active {
            .nav-active_right {
                display: none;
            }
            .nav-active_left {
                display: block;
            }
        }
        .nav-logo {
            width: 100%;
            height: 60px;
            .nav-logo_full {
                display: none;
                height: 100%;
            }
        }
        > nav {
            > ul {
                li {
                    .nav-title {
                        visibility: visible;
                        opacity: 1;
                        transition-delay: 0.2s;
                    }
                }
                .active {
                    background-color: #2c3e48;
                    border-radius: 10px;
                }
            }
        }
        .vip {
            .vip-main {
                > p {
                    display: block;
                }
                > span {
                    > span {
                        display: block;
                    }
                }
            }
        }
        .vip-noti {
            > span {
                display: block;
            }
        }
        .playlist {
            .nav-title {
                visibility: visible;
                opacity: 1;
                transition-delay: 0.2s;
            }
            .playlist__item {
                .title {
                    visibility: visible;
                    opacity: 1;
                    transition-delay: 0.4s;
                    height: 100%;
                }
                .icon-item {
                    display: none;
                }
            }
        }
    }
}
